{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
    margin-bottom: 0px !important;
}

.jumbotron {
    background-color: #0E3D14;
    color: #ffffff;
}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Try Django 1.8</h1>
            <p>The MVP Landing project is designed to get your project started. The goal is to helo you launch as soon as posible with the least amount of investment using time or money. Join us today.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6" style="background-color: black; min-height: 300px;">

        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-3 pull-right">
        <p class="lead text-align-center">{{ title }}</p>
        <form method="post" action=''>{% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Sign Up">
        </form>
    </div>
    <div class="col-xs-3 ">
        <p class="lead text-align-center">Built in with Django &amp; Bootstrap</p>
    </div>
    <div class="col-xs-3 ">
        <p class="lead text-align-center">Created for starters of all kinds</p>
    </div>
    <div class="col-xs-3 ">
        <p class="lead text-align-center">Always open source</p>
    </div>
  </div>

</div>
{% endblock %}
